@media screen and (max-width: 450px) {
	#feeling-submit {
		display: none;
	}
	
	body .feelings-container .feel {
		width: 85%;
	}
	
	body .feelings-container .feel .feel-body {
		text-align: center;
	}
	
	body .feelings-container .feel .feel-body img {
		display: block;
		margin: 5px auto;
		text-align: center;
	}
	
	body .feelings-container .feel .feel-body .meta-info {
		text-align: center;
		margin-top: 8px;
	}
	
	body .discussion-container .comment {
		text-align: center;
	}
	
	body .discussion-container .comment span.username {
		margin-top: 8px;
		display: block;
	}
	
	body .discussion-container .comment img {
		display: block;
		margin: 1px auto;
	}

	body #header-acc-container {
		margin: 1px auto;
		text-align: center;
	}
}

@media screen and (min-width: 1000px) {
	body .feelings-container .feel {
		display: inline-block;
		width: 33%;
		margin: 16px 55px;
	}
	
}

* {
	font-family: "Raleway", sans-serif;
	margin: 0;
	padding: 0;
}

html {
	margin: 0;
	padding: 0;
}

.container {
	margin: 50px auto;
	text-align: center;
	width:95%;
}

#feeling-insert {
	border: 1px solid #222; 
	width:60%; 
	padding:7px; 
	font-size:20px;
	padding-right: 55px;
}

#feeling-insert:focus {
	outline-color: #00FF00;
}

#feeling-insert:focus + #feeling-submit {
	color: #5B5;
	text-shadow:
    -1px -1px 1px #AFA,
    1px -1px 1px #AFA,
    -1px 1px 1px #AFA,
    1px 1px 1px #AFA;  
}

#feeling-submit {
	width: 50px;
	height: 40px;
	vertical-align: middle;
	background-color: rgba(0,0,0,0);
	border: 0;
	font-size: 28px;
	margin-left: -55px;
	margin-top: -9px;
	color: #777;
}

#feeling-submit:focus {
	outline: 0;
}

#feeling-submit:hover{
	color: #009900;
	cursor: pointer;
}
#feeling-submit:active{
	color: #00FF00;
}

#feeling-submit:after {
	content: "\27A7";
}

#suggestion-container {
	width: 60%; 
	padding: 10px 0px;
	padding-right: 62px;
	background-color: rgba(0,0,0,0); 
	margin: 0; 
	display: inline-block; 
	text-align: left;
	border:1px solid gray;
	border-top: 0;
	display: none;
}

#suggestion-container #suggestions {
	padding: 1px 7px;
}

#suggestion-container #suggestions ul {
	list-style-type: none;
}

#suggestion-container #suggestions ul li {
	padding: 8px;
	cursor: pointer;
}

#suggestion-container #suggestions ul li:hover {
	background-color: rgba(0,0,0,0.1);
}




/* ========================================  FEELINGS SECTION =========================================== */

.feelings-container {
	margin: 80px auto;
	margin-bottom:60px;
	text-align:center;
}

.feelings-container h3 {
	font-size:21px; margin-bottom: 15px;
}

.f-c-discussion {
	margin-top: 20px;
	display: block;
}

.feelings-container  .f-related-container {
	margin: 30px auto;
}

.feelings-container  .f-latest-container {
	margin: 30px auto;
}

.feelings-container .feel {
	width: 40%;
    border: 1px solid rgba(0,0,0,0.1);
    border-left: 0;
    border-right: 0;
    margin: 16px auto;
    font-size: 16px;
    text-align: left;
    cursor: pointer;
}

.feelings-container .feel:hover {
	border-color: rgba(0,200,0,0.5);
}

.feelings-container .feel .feel-body {
	padding: 10px;
}

.feelings-container .feel .feel-body .meta-info {
	font-size: 12px; 
	display: block; 
	text-align:left; 
	color: gray;
}

.feelings-container .feel .feel-body .meta-info .meta-info-time{
	margin: 3px 15px 0px 0px; 
	display:inline-block;
}

.feelings-container .feel .feel-body span:hover {
	text-decoration: underline;
	
}
.feelings-container .feel .feel-body img.pic {
	margin: 4px 10px 5px 5px;
	vertical-align: middle;
	width: 32px;
	border: 1px solid rgba(0,0,0,0.7);
}



/* ========================================  DISCUSSION PAGE =========================================== */

.nfeel {
	width: 40%;
    border: 1px solid rgba(0,0,0,0.2);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    margin: 16px auto;
    font-size: 16px;
    text-align: left;
}

.nfeel .feel-body {
	padding: 10px;
}

.nfeel .feel-body .meta-info {
	font-size: 12px; 
	display: block; 
	text-align:left; 
	color: gray;
}

.nfeel .feel-body .meta-info .meta-info-time{
	margin: 3px 15px 0px 0px; 
	display:inline-block;
}

.nfeel .feel-body span:hover {
	text-decoration: underline;
	
}

.nfeel .feel-body img.pic {
	margin: 4px 10px 5px 5px;
	vertical-align: middle;
	width: 35px;
	border: 1px solid rgba(0,0,0,0.7);
}


.discussion-container {
	margin: 40px 170px 0px 0px;
	padding: 0px;
	width: 50%;
	text-align: left;
	display: inline-block;
	vertical-align: top;
}

.discussion-container .comment {
	padding: 10px 1px;
	/*border: 1px solid rgba(0,0,0,0.3);*/
	letter-spacing: 1px;
	margin: 10px 0px;
	font-size: 14px;
	line-height:20px;
}

/*.discussion-container .comment:hover {
	border-color: #00EE00;
}*/

.discussion-container .comment img {
	width: 25px;
    height: 25px;
    border: 1px solid gray;
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
}

.discussion-container .comment span.username {
	font-size: 12px; 
	font-weight: bold; 
	cursor: pointer;
	margin-top: -7px;
	margin-bottom: 5px;
	display: inline-block;
}
.discussion-container .comment span.username:hover {
	text-decoration: underline;
}
.discussion-container .comment span.timep {
	font-size: 12px; 
}
.discussion-container .comment p {
	margin-top: 4px;
    font-size: 12px;
}

.discussion-container #comment-insert {
	width: 95%; 
	resize: vertical; 
	height:50px; 
	display:block; 
	letter-spacing: 1px; 
	line-height:20px; 
	padding: 3px 7px;
	border-color: #CCC;
}

.discussion-container #comment-insert:focus {
	outline-color: rgba(0,244,0,0.5);
}


.discussion-container #comment-submit {
	font-weight: bold; 
	padding:8px 15px; 
	vertical-align: middle; 
	background-color: rgba(0,0,0,0); 
	border: 1px solid rgba(0,0,0,0.2); 
	font-size: 12px;
	margin-top: 8px; margin-bottom: 15px;
	color: #222;
}


.discussion-container #comment-submit:focus {
	outline: 0;
}

.discussion-container #comment-submit:hover{
	border-color: #00CC00;
	cursor: pointer;
}
.discussion-container #comment-submit:active{
	border-color: #007700;
}


.related-container {
	width:30%;
	display:inline-block;
}
.related-container .feel {
	width: 90%;
    border: 1px solid rgba(0,0,0,0.2);
    border-left: 0;
    border-right: 0;
    margin: 16px auto;
    font-size: 16px;
    text-align: left;
    cursor: pointer;
    
}

.related-container .feel:hover {
	border-color: rgba(0,200,0,0.8);
}

.related-container .feel .feel-body {
	padding: 10px;
}

.related-container .feel .feel-body .meta-info {
	font-size: 12px; 
	display: block; 
	text-align:left; 
	color: gray;
}

.related-container .feel .feel-body .meta-info .meta-info-time{
	margin: 3px 15px 0px 0px; 
	display:inline-block;
}

.related-container .feel .feel-body span:hover {
	text-decoration: underline;
	
}
.related-container .feel .feel-body img.pic {
	margin: 4px 10px 5px 5px;
	vertical-align: middle;
	width: 32px;
	border: 1px solid rgba(0,0,0,0.7);
}

.related-container h3 {
	font-size:21px; margin-bottom: 15px;
}
/* =============================== Login Section ==================================== */

#header-acc-container {

	width: 99%; 
	padding: 1px;
	text-align: right;
}

#header-acc-container .header-btn {
	background-color: rgba(230,230,230,0); 
	width: 70px; 
	height: 35px; 
	/*border: 1px solid rgba(0,0,0,0.5);*/
	border: 0;
	cursor: pointer; 
	font-weight: bold; 
	font-size: 12px;
	margin: 10px 10px 0px 10px;

}

#header-acc-container .header-btn:focus {
	outline: 0;
}

#header-acc-container .header-btn:hover {
	background-color: rgba(230,230,230,0.3);
}

#header-acc-container .header-btn:active {
	background-color: rgba(230,230,230,0.7);

}



body img.emoticon {
	width:30px; 
	height: 30px; 
	border:0; 
	position:relative; 
	top: 9px; 
	margin: 1px 3px;
}